# Market Basket Analysis on Online Retail Data

## Feature Engineering

### 1. Overview:
- Market Basket Analysis is one of the key techniques used by large retailers to uncover associations between items. 
- It works by looking for combinations of items that occur together frequently in transactions. 
- To put it another way, it allows retailers to identify relationships between the items that people buy. 
- Association Rules are widely used to analyze retail basket or transaction data, and are intended to identify strong rules discovered in transaction data using measures of interestingness, based on the concept of strong rules.

### 2. Data Loading and Sanitation Checks:

In [9]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install scikit-learn
!pip install openpyxl

Requirement already satisfied: pandas in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: numpy in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (1.26.4)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: matplotlib in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: seaborn in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from seaborn) (2.2.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from seaborn) (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: scikit-learn in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/sainath/Downloads/vikas/product-recommend/env/lib/python3.11/site-packages (from scikit-learn) (3.3.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 7.0 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [5]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
import datetime as dt

# Runtime Configuration Parameters for Matplotlib
plt.rcParams['font.family'] = 'Verdana'
plt.style.use('ggplot')

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [10]:
# Read data xlsx file
retail = pd.read_excel('../data/OnlineRetail.xlsx')


retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [11]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

### 2.1 About the data
**1. InvoiceNo:** Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.

**2. StockCode:** Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.

**3. Description:** Product (item) name. Nominal.

**4. Quantity:** The quantities of each product (item) per transaction. Numeric.

**5. InvoiceDate:** Invice Date and time. Numeric, the day and time when each transaction was generated.

**6. UnitPrice:** Unit price. Numeric, Product price per unit in sterling.

**7. CustomerID:** Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.

**8. Country:** Country name. Nominal, the name of the country where each customer resides.

In [12]:
print('Number of observations in the dataset: ', retail.shape[0])
print('Number of columns: ', retail.shape[1])

Number of observations in the dataset:  541909
Number of columns:  8

#### 2.1.1 Missing values

In [13]:
def missing_values(df):
    total_null = df.isna().sum()
    percent_null = df.isna().sum() / df.count()
    missing_data = pd.concat([total_null, percent_null], axis = 1, keys = ['Total missing values', 'Percentage missing values'])
    return missing_data

# Check
missing_values(retail)

             Total missing values  Percentage missing values
InvoiceNo                       0                   0.000000
StockCode                       0                   0.000000
Description                  1454                   0.002690
Quantity                        0                   0.000000
InvoiceDate                     0                   0.000000
UnitPrice                       0                   0.000000
CustomerID                 135080                   0.332031
Country                         0                   0.000000

### 3. Feature Engineering

#### 3.1 Parsing date

In [14]:
retail['InvoiceDate'] = pd.to_datetime(retail['InvoiceDate'])

#### 3.2 Data Cleaning

##### 3.2.1 CustomerID

In [15]:
# Fill NA with 0
retail['CustomerID'] = retail['CustomerID'].fillna(0)
# Float to Int
retail['CustomerID'] = retail['CustomerID'].astype(int)
# Int to Str
retail['CustomerID'] = retail['CustomerID'].astype(str)
# Replace customers with customer_id 0 to "Guest Customer"
retail['CustomerID'] = retail['CustomerID'].replace('0', 'Guest Customer')

In [16]:
retail['CustomerID'].value_counts()

CustomerID
Guest Customer    135080
17841               7983
14911               5903
14096               5128
12748               4642
                   ...
13270                  1
17763                  1
17291                  1
15668                  1
15562                  1
Name: count, Length: 4373, dtype: int64

##### 3.2.2 InvoiceID

In [17]:
# Date 
retail['Date'] = retail['InvoiceDate'].dt.date
# Time
retail['Time'] = retail['InvoiceDate'].dt.time
# Hour
retail["Hour"] = retail['InvoiceDate'].dt.strftime('%H')
# Hour to Time of Day
retail['Time of Day'] = pd.cut(retail['InvoiceDate'].dt.hour, [0,6,12,18,23], labels = ['Night','Morning','Afternoon','Evening'], include_lowest=True)
# Month
retail['Month'] = retail['InvoiceDate'].dt.month
# Changing the number months to the actual name of the month 
retail['Month'] = retail['Month'].apply(lambda x: calendar.month_name[int(x)])
# Year
retail['Year'] = retail['InvoiceDate'].dt.year
# Week of the Year
retail['Week of the Year'] = retail['InvoiceDate'].dt.isocalendar().week
# Day of Week
retail['Day of Week'] = retail['InvoiceDate'].dt.day_name()
# Drop NAs
retail['InvoiceNo'] = retail['InvoiceNo'].dropna()

##### Timeframe on data

In [18]:
print('Oldest date in dataset: ', min(retail['Date']))
print('Mosr recent date in dataset: ', max(retail['Date']))

Oldest date in dataset:  2010-12-01
Mosr recent date in dataset:  2011-12-09

In [19]:
# Drop the row from the year 2010
index_names = retail[retail['Year'] == 2010].index
retail.drop(index_names, inplace = True)
retail.drop('Year', axis=1, inplace=True)

##### 3.2.3 Sales Revenue

In [20]:
retail['Sales Revenue'] = retail['UnitPrice'] * retail['Quantity']
# Check if Sales Revenue is negative
index_names = retail[retail['Sales Revenue'] <= 0].index
retail.drop(index_names, inplace = True)
retail.drop_duplicates(inplace = True)

##### 3.2.4 Country

In [21]:
print(retail['Country'].unique())

['United Kingdom' 'Sweden' 'France' 'Australia' 'Germany' 'Spain'
 'Portugal' 'EIRE' 'Israel' 'Cyprus' 'Belgium' 'Italy' 'Netherlands'
 'Poland' 'Switzerland' 'Finland' 'Greece' 'Hong Kong' 'Singapore'
 'Iceland' 'Channel Islands' 'Lebanon' 'Austria' 'Norway' 'Japan'
 'United Arab Emirates' 'Denmark' 'Saudi Arabia' 'Czech Republic' 'Canada'
 'Unspecified' 'Brazil' 'USA' 'European Community' 'Bahrain' 'Malta' 'RSA']

In [22]:
# Drop rows with country == "Unspecified"
retail.drop(retail[retail["Country"] == "Unspecified"].index, inplace = True)

##### 3.2.5 Quantity

In [23]:
# Quantity should be > 0
index_names = retail[retail['Quantity'] <= 0].index
retail.drop(index_names, inplace = True)

##### 3.2.6 Description

In [24]:
print(retail['Description'].unique())

['JUMBO BAG PINK POLKADOT' 'BLUE POLKADOT WRAP' 'RED RETROSPOT WRAP ' ...
 'LETTER "U" BLING KEY RING' 'CREAM HANGING HEART T-LIGHT HOLDER'
 'PAPER CRAFT , LITTLE BIRDIE']

In [25]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Date,Time,Hour,Time of Day,Month,Week of the Year,Day of Week,Sales Revenue
42481,539993,22386,JUMBO BAG PINK POLKADOT,10,2011-01-04 10:00:00,1.95,13313,United Kingdom,2011-01-04,10:00:00,10,Morning,January,1,Tuesday,19.5
42482,539993,21499,BLUE POLKADOT WRAP,25,2011-01-04 10:00:00,0.42,13313,United Kingdom,2011-01-04,10:00:00,10,Morning,January,1,Tuesday,10.5
42483,539993,21498,RED RETROSPOT WRAP,25,2011-01-04 10:00:00,0.42,13313,United Kingdom,2011-01-04,10:00:00,10,Morning,January,1,Tuesday,10.5
42484,539993,22379,RECYCLING BAG RETROSPOT,5,2011-01-04 10:00:00,2.10,13313,United Kingdom,2011-01-04,10:00:00,10,Morning,January,1,Tuesday,10.5
42485,539993,20718,RED RETROSPOT SHOPPER BAG,10,2011-01-04 10:00:00,1.25,13313,United Kingdom,2011-01-04,10:00:00,10,Morning,January,1,Tuesday,12.5

In [26]:
# Drop NaNs
retail.dropna(subset=['Description'], inplace=True)

In [27]:
# Drop rows with description <= 8 words
retail.drop(retail[retail['Description'].str.len() <= 8].index, inplace = True)
retail['Description'] = retail['Description'].str.strip()
retail.reset_index(drop=True, inplace=True)

##### After cleaning and feature engineering:

In [28]:
print('Number of observations after data cleaning: ', retail.shape[0])
print('Number of features after data cleaning: ', retail.shape[1])

Number of observations after data cleaning:  481966
Number of features after data cleaning:  16

In [29]:
retail.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Date', 'Time', 'Hour',
       'Time of Day', 'Month', 'Week of the Year', 'Day of Week',
       'Sales Revenue'],
      dtype='object')

In [30]:
# New dataframe
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481966 entries, 0 to 481965
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   InvoiceNo         481966 non-null  object
 1   StockCode         481966 non-null  object
 2   Description       481966 non-null  object
 3   Quantity          481966 non-null  int64
 4   InvoiceDate       481966 non-null  datetime64[ns]
 5   UnitPrice         481966 non-null  float64
 6   CustomerID        481966 non-null  object
 7   Country           481966 non-null  object
 8   Date              481966 non-null  object
 9   Time              481966 non-null  object
 10  Hour              481966 non-null  object
 11  Time of Day       481966 non-null  category
 12  Month             481966 non-null  object
 13  Week of the Year  481966 non-null  UInt32
 14  Day of Week       481966 non-null  object
 15  Sales Revenue     481966 non-null  float64
dtypes: UInt32(1), category(1), datetime64[ns](1), float64(2), int64(1), object(10)
memory usage: 54.2+ MB

In [31]:
# Save cleaned dataset for next steps
retail.to_csv('../data/CleanRetailData.csv')